<a href="https://colab.research.google.com/github/CatalinaOrtegha/2ndChallenge_TelecomX/blob/main/TelecomX_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [296]:
import pandas as pd

In [297]:
url='https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
data=pd.read_json(url)
data

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [298]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [299]:
data.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [300]:
df= pd.json_normalize(data.to_dict(orient='records'), meta=['customerID','Churn'], sep='_')
df.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [301]:
df.columns

Index(['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen',
       'customer_Partner', 'customer_Dependents', 'customer_tenure',
       'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService',
       'internet_OnlineSecurity', 'internet_OnlineBackup',
       'internet_DeviceProtection', 'internet_TechSupport',
       'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract',
       'account_PaperlessBilling', 'account_PaymentMethod',
       'account_Charges_Monthly', 'account_Charges_Total'],
      dtype='object')

#ðŸ”§ TransformaciÃ³n

In [302]:
import numpy as np

In [303]:
df.columns=df.columns.str.lower()
df

,customerid,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,phone_phoneservice,phone_multiplelines,internet_internetservice,...,internet_onlinebackup,internet_deviceprotection,internet_techsupport,internet_streamingtv,internet_streamingmovies,account_contract,account_paperlessbilling,account_paymentmethod,account_charges_monthly,account_charges_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [304]:
df.columns

Index(['customerid', 'churn', 'customer_gender', 'customer_seniorcitizen',
       'customer_partner', 'customer_dependents', 'customer_tenure',
       'phone_phoneservice', 'phone_multiplelines', 'internet_internetservice',
       'internet_onlinesecurity', 'internet_onlinebackup',
       'internet_deviceprotection', 'internet_techsupport',
       'internet_streamingtv', 'internet_streamingmovies', 'account_contract',
       'account_paperlessbilling', 'account_paymentmethod',
       'account_charges_monthly', 'account_charges_total'],
      dtype='object')

In [305]:
interest_columns=['churn','customer_gender','customer_seniorcitizen','customer_partner', 'customer_dependents', 'customer_tenure','account_contract','account_paymentmethod',
       'account_charges_monthly', 'account_charges_total']

In [306]:
df_transformed=df[interest_columns].copy()
df_transformed

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
0,No,Female,0,Yes,Yes,9,One year,Mailed check,65.60,593.3
1,No,Male,0,No,No,9,Month-to-month,Mailed check,59.90,542.4
2,Yes,Male,0,No,No,4,Month-to-month,Electronic check,73.90,280.85
3,Yes,Male,1,Yes,No,13,Month-to-month,Electronic check,98.00,1237.85
4,Yes,Female,1,Yes,No,3,Month-to-month,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...
7262,No,Female,0,No,No,13,One year,Mailed check,55.15,742.9
7263,Yes,Male,0,Yes,No,22,Month-to-month,Electronic check,85.10,1873.7
7264,No,Male,0,No,No,2,Month-to-month,Mailed check,50.30,92.75
7265,No,Male,0,Yes,Yes,67,Two year,Mailed check,67.85,4627.65
7266,No,Male,0,Yes,Yes,63,Two year,Electronic check,59.00,3707.6

In [307]:
df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    7267 non-null   object
 1   customer_gender          7267 non-null   object
 2   customer_seniorcitizen   7267 non-null   int64
 3   customer_partner         7267 non-null   object
 4   customer_dependents      7267 non-null   object
 5   customer_tenure          7267 non-null   int64
 6   account_contract         7267 non-null   object
 7   account_paymentmethod    7267 non-null   object
 8   account_charges_monthly  7267 non-null   float64
 9   account_charges_total    7267 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 567.9+ KB

In [308]:
df_transformed.tail(15)

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
7252,No,Female,0,Yes,Yes,67,Two year,Bank transfer (automatic),19.25,1372.9
7253,No,Female,0,No,No,28,Month-to-month,Bank transfer (automatic),54.65,1517.5
7254,No,Female,1,Yes,No,53,One year,Electronic check,94.00,4871.45
7255,No,Male,0,No,Yes,64,Month-to-month,Credit card (automatic),99.15,6171.2
7256,No,Male,0,Yes,Yes,46,Two year,Credit card (automatic),19.75,856.5
7257,No,Male,0,No,No,1,Month-to-month,Mailed check,18.90,18.9
7258,No,Male,1,Yes,Yes,47,One year,Bank transfer (automatic),84.95,4018.05
7259,No,Female,0,No,No,7,One year,Mailed check,94.05,633.45
7260,Yes,Female,0,No,No,1,Month-to-month,Mailed check,70.15,70.15
7261,Yes,Female,0,No,No,4,Month-to-month,Bank transfer (automatic),20.95,85.5
7262,No,Female,0,No,No,13,One year,Mailed check,55.15,742.9
7263,Yes,Male,0,Yes,No,22,Month-to-month,Electronic check,85.10,1873.7
7264,No,Male,0,No,No,2,Month-to-month,Mailed check,50.30,92.75
7265,No,Male,0,Yes,Yes,67,Two year,Mailed check,67.85,4627.65
7266,No,Male,0,Yes,Yes,63,Two year,Electronic check,59.00,3707.6

In [309]:
df_transformed.apply(pd.Series.unique)

churn                                                            [No, Yes, ]
customer_gender                                               [Female, Male]
customer_seniorcitizen                                                [0, 1]
customer_partner                                                   [Yes, No]
customer_dependents                                                [Yes, No]
customer_tenure            [9, 4, 13, 3, 71, 63, 7, 65, 54, 72, 5, 56, 34...
account_contract                        [One year, Month-to-month, Two year]
account_paymentmethod      [Mailed check, Electronic check, Credit card (...
account_charges_monthly    [65.6, 59.9, 73.9, 98.0, 83.9, 69.4, 109.7, 84...
account_charges_total      [593.3, 542.4, 280.85, 1237.85, 267.4, 571.45,...
dtype: object

In [310]:
numeric_columns=['customer_tenure','account_charges_monthly', 'account_charges_total']

In [311]:
df[numeric_columns].dtypes

customer_tenure              int64
account_charges_monthly    float64
account_charges_total       object
dtype: object

In [312]:
bool_columns=['churn','customer_seniorcitizen','customer_partner', 'customer_dependents']

In [313]:
df['churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [314]:
df_transformed=df_transformed.replace(' ', np.nan)
df_transformed=df_transformed.replace('', np.nan)

In [315]:
df_transformed.isna().any()

churn                       True
customer_gender            False
customer_seniorcitizen     False
customer_partner           False
customer_dependents        False
customer_tenure            False
account_contract           False
account_paymentmethod      False
account_charges_monthly    False
account_charges_total       True
dtype: bool

In [316]:
mask_churn=df_transformed['churn'].isna()
df_transformed[mask_churn]

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
30,NaN,Female,0,No,No,11,Month-to-month,Bank transfer (automatic),79.00,929.3
75,NaN,Male,0,No,No,71,Two year,Credit card (automatic),19.90,1355.1
96,NaN,Male,0,No,No,29,One year,Electronic check,58.75,1696.2
98,NaN,Female,1,No,No,5,Month-to-month,Credit card (automatic),59.90,287.85
175,NaN,Male,1,Yes,No,65,One year,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...
7158,NaN,Female,0,No,No,14,One year,Mailed check,54.25,773.2
7180,NaN,Female,0,Yes,No,49,Month-to-month,Bank transfer (automatic),40.65,2070.75
7211,NaN,Male,0,No,No,9,Month-to-month,Electronic check,76.25,684.85
7239,NaN,Female,0,Yes,Yes,67,Two year,Bank transfer (automatic),19.25,1372.9
7247,NaN,Female,0,Yes,Yes,31,Month-to-month,Mailed check,19.55,658.95

In [317]:
rows_nan_churn=df_transformed[mask_churn].index
rows_nan_churn

Index([  30,   75,   96,   98,  175,  219,  312,  351,  368,  374,
       ...
       7058, 7061, 7062, 7143, 7155, 7158, 7180, 7211, 7239, 7247],
      dtype='int64', length=224)

In [318]:
df_clean = df_transformed.dropna(subset=['churn']).copy()
df_clean

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
0,No,Female,0,Yes,Yes,9,One year,Mailed check,65.60,593.3
1,No,Male,0,No,No,9,Month-to-month,Mailed check,59.90,542.4
2,Yes,Male,0,No,No,4,Month-to-month,Electronic check,73.90,280.85
3,Yes,Male,1,Yes,No,13,Month-to-month,Electronic check,98.00,1237.85
4,Yes,Female,1,Yes,No,3,Month-to-month,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...
7262,No,Female,0,No,No,13,One year,Mailed check,55.15,742.9
7263,Yes,Male,0,Yes,No,22,Month-to-month,Electronic check,85.10,1873.7
7264,No,Male,0,No,No,2,Month-to-month,Mailed check,50.30,92.75
7265,No,Male,0,Yes,Yes,67,Two year,Mailed check,67.85,4627.65
7266,No,Male,0,Yes,Yes,63,Two year,Electronic check,59.00,3707.6

In [319]:
mask_charges=df_clean['account_charges_total'].isna()
df_clean[mask_charges]

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
975,No,Female,0,Yes,Yes,0,Two year,Credit card (automatic),56.05,NaN
1775,No,Female,0,Yes,Yes,0,Two year,Mailed check,20.00,NaN
1955,No,Male,0,No,Yes,0,Two year,Bank transfer (automatic),61.90,NaN
2075,No,Male,0,Yes,Yes,0,One year,Mailed check,19.70,NaN
2232,No,Male,0,No,Yes,0,Two year,Mailed check,20.25,NaN
2308,No,Male,0,Yes,Yes,0,Two year,Mailed check,25.35,NaN
2930,No,Female,0,Yes,Yes,0,Two year,Mailed check,73.35,NaN
3134,No,Male,0,Yes,Yes,0,Two year,Mailed check,25.75,NaN
3203,No,Female,0,Yes,Yes,0,Two year,Bank transfer (automatic),52.55,NaN
4169,No,Female,0,Yes,Yes,0,Two year,Mailed check,80.85,NaN
5599,No,Male,0,Yes,Yes,0,Two year,Mailed check,19.85,NaN

In [320]:
rows_nan_charges=df_clean[mask_charges].index
rows_nan_charges

Index([975, 1775, 1955, 2075, 2232, 2308, 2930, 3134, 3203, 4169, 5599], dtype='int64')

In [321]:
months = df_clean['account_contract'].map({'Two year': 24, 'One year': 12})

df_clean['account_charges_total'] = df_clean['account_charges_total'].fillna(
    (df_clean['account_charges_monthly'] * months).round(2)
)

In [331]:
df_clean.iloc[rows_nan_charges,9]

1006    6077.75
1821      20.35
2004      57.40
2126     321.90
2290    2909.95
2366    1447.90
3009     273.75
3221    1414.20
3293      19.60
4287     657.50
5770     146.40
Name: account_charges_total, dtype: float64

In [332]:
df_clean[bool_columns]=df_clean[bool_columns].replace({'Yes': 1, 'No': 0})
df_clean

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total
0,False,Female,False,False,False,9,One year,Mailed check,65.60,593.30
1,False,Male,False,False,False,9,Month-to-month,Mailed check,59.90,542.40
2,False,Male,False,False,False,4,Month-to-month,Electronic check,73.90,280.85
3,False,Male,False,False,False,13,Month-to-month,Electronic check,98.00,1237.85
4,False,Female,False,False,False,3,Month-to-month,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...
7262,False,Female,False,False,False,13,One year,Mailed check,55.15,742.90
7263,False,Male,False,False,False,22,Month-to-month,Electronic check,85.10,1873.70
7264,False,Male,False,False,False,2,Month-to-month,Mailed check,50.30,92.75
7265,False,Male,False,False,False,67,Two year,Mailed check,67.85,4627.65
7266,False,Male,False,False,False,63,Two year,Electronic check,59.00,3707.60

In [333]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    7043 non-null   bool
 1   customer_gender          7043 non-null   object
 2   customer_seniorcitizen   7043 non-null   bool
 3   customer_partner         7043 non-null   bool
 4   customer_dependents      7043 non-null   bool
 5   customer_tenure          7043 non-null   int64
 6   account_contract         7043 non-null   object
 7   account_paymentmethod    7043 non-null   object
 8   account_charges_monthly  7043 non-null   float64
 9   account_charges_total    7043 non-null   float64
dtypes: bool(4), float64(2), int64(1), object(3)
memory usage: 670.7+ KB

In [324]:
df_clean['account_charges_total']=df_clean['account_charges_total'].astype(np.float64)

In [330]:
df_clean[bool_columns]=df_clean[bool_columns].astype(bool)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    7043 non-null   bool
 1   customer_gender          7043 non-null   object
 2   customer_seniorcitizen   7043 non-null   bool
 3   customer_partner         7043 non-null   bool
 4   customer_dependents      7043 non-null   bool
 5   customer_tenure          7043 non-null   int64
 6   account_contract         7043 non-null   object
 7   account_paymentmethod    7043 non-null   object
 8   account_charges_monthly  7043 non-null   float64
 9   account_charges_total    7043 non-null   float64
dtypes: bool(4), float64(2), int64(1), object(3)
memory usage: 670.7+ KB

In [334]:
daily_accounts = (df_clean['account_charges_monthly'] / 30).round(2)
daily_accounts

0       2.19
1       2.00
2       2.46
3       3.27
4       2.80
        ...
7262    1.84
7263    2.84
7264    1.68
7265    2.26
7266    1.97
Name: account_charges_monthly, Length: 7043, dtype: float64

In [336]:
df_clean.insert(10,'daily_accounts',daily_accounts)
df_clean.head()

,churn,customer_gender,customer_seniorcitizen,customer_partner,customer_dependents,customer_tenure,account_contract,account_paymentmethod,account_charges_monthly,account_charges_total,daily_accounts
0,False,Female,False,False,False,9,One year,Mailed check,65.6,593.30,2.19
1,False,Male,False,False,False,9,Month-to-month,Mailed check,59.9,542.40,2.00
2,False,Male,False,False,False,4,Month-to-month,Electronic check,73.9,280.85,2.46
3,False,Male,False,False,False,13,Month-to-month,Electronic check,98.0,1237.85,3.27
4,False,Female,False,False,False,3,Month-to-month,Mailed check,83.9,267.40,2.80

In [339]:
df_clean.to_json('df_clean_telecomX.json')